<div class="app-content">
    <div class="scrollable">
        <div class="scrollable-content section">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="pull-right">待审批</div>
                    <h4> 未处理请假</h4>
                </div>
                <div class="panel-body">
                    <p>请假时间：2015-01-12到2015-01-21</p>
                    <div>
                        详细信息
                        <div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled specimen book.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-right">已批准</span>
                    <h4> 已批准请假</h4>
                </div>
                <div class="panel-body">
                    <p>请假时间：2015-01-12到2015-01-21</p>
                    <div>
                        详细信息
                        <div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled specimen book.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="pull-right">未批准</span>
                    <h4> 未批准请假</h4>
                </div>
                <div class="panel-body">
                    <p>请假时间：2015-01-12到2015-01-21</p>
                    <div>
                        详细信息
                        <div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled specimen book.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-right">撤销</span>
                    <h4> 已撤销请假</h4>
                </div>
                <div class="panel-body">
                    <p>请假时间：2015-01-12到2015-01-21</p>
                    <div>
                        详细信息
                        <div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled specimen book.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>